{{>header}}
<div style="background-color: #fff;" class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>S.No.</th>
                <th>Technology Used</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1.</td>
                <td>Node Js</td>
            </tr>
            <tr>
                 <td>2.</td>
                <td>Express Js</td>
            </tr>
            <tr>
                <td>2.</td>
                <td>Handlebar Js</td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <th>S.No.</th>
                <th>API USED</th>
            </tr>
            
        </thead>
        <tbody>
            <tr>
                 <td>1.</td>
                <td><a target="_blank" href="https://www.mapbox.com">API for Geocoding</a></td>
            </tr>
            <tr>
                <td>2.</td>
                <td><a target="_blank" href="https://www.darksky.net">API for weather information</a></td>
            </tr>
        </tbody>
        
    </table>
</div>
{{>footer}}